<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
                                        http://www.springframework.org/schema/beans/spring-beans.xsd
                                        http://www.springframework.org/schema/context
                                        http://www.springframework.org/schema/context/spring-context.xsd
">

	<context:annotation-config/>
	<context:component-scan base-package="com"/>

	<!-- Database Config -->
	<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="url" value="jdbc:sqlserver://220.117.153.150:20105;databasename=VCCNT_ADM;sendStringParametersAsUnicode=false" />
		<property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
		<property name="username" value="VCCNT_ADM" />
		<property name="password" value="VCCNT_ADM" />
	</bean>

	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="mapperLocations">
			<list>
				<value>classpath*:sql/Extract/*.xml</value>
			</list>
		</property>
		<property name="dataSource" ref="dataSource"/>
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
	</bean>

	<bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="sqlSessionFactory"/>
	</bean>

	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<!-- Extract Template -->
	<bean id="contentsTemplate" class="com.component.extract.template.xml.SqlXmlTemplate"/>
	<!-- Extract Component -->
	<bean id="contentsCreator" class="com.component.extract.ExtractService">
		<property name="modules" value="WMS,CJKOREX,IF,ADM,TMS"/>
		<property name="sqlId" value="SELECT_MODULE_QUERY_LIST"/>
		<property name="rootPath" value="C:\\TEMP\SH\"/>
		<property name="fileType" value=".xml"/>
		<property name="template" ref="contentsTemplate"/>
	</bean>
</beans>