<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "HTTP://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 기본정보 셋팅  -->
	<settings>
		<setting name="cacheEnabled" value="false" />
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="true" />
		<setting name="useGeneratedKeys" value="true" />
		<setting name="defaultExecutorType" value="REUSE" />
		<setting name="defaultStatementTimeout" value="300" />
		<!--<setting name="localCacheScope" value="SESSION" />-->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="callSettersOnNulls" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL" />
		<setting name="returnInstanceForEmptyRow" value="true" />
		<!-- log4j 만약 없을 경우 log를 찍는 class는 org.apache.ibatis.logging.commons.JakartaCommonsLoggingImpl로 됨-->
		<!--
		<setting name="logImpl" value="LOG4J2"/>
		-->
	</settings>
</configuration>
